<% provide(:title, 'Home')%>
<h1>Sample App</h1>
<p>
	This is the sample application that I have created with Michael Hartl's
	tutorial, which can be found at 
	<a href="http://railstutorial.org">Rails Tutorial	
</p>